---
---

@import 'config';

@import 'bourbon/bourbon';

@import 'base/poole';
@import 'base/layout';
@import 'base/global';
@import 'base/syntax';

@import 'component/sidebar';
@import 'component/hero';
@import 'component/post';
@import 'component/page';
@import 'component/tag';
@import 'component/masthead';
@import 'component/pagination';


@font-face {
    font-family: "century-burma";
    src: url("font/myanmar-mn-regular.ttf");
  }

@font-face {
    font-family: "century-burma";
    src: url("font/myanmar-mn-bold.ttf");
  }
  
  @font-face {
    font-family: "century-burma";
    src: url("font/century-burma.ttf");
  }
  