<section class="read-next">
  <h2><span class="section-mark">&sect;</span> Read Next</h2>
  <ul class="post-list">
    {% assign prev1 = page.previous %}
    {% if prev1 %}
    <li class="post-list-item{% unless prev1.lang %} lang-my{% endunless %}">
      <span class="post-list-date">
        {% if prev1.lang == "de" %}
          {% assign de_month_key = prev1.date | date: "%m" %}
          {{ prev1.date | date: "%-d" }}. {{ site.data.de_months[de_month_key] }} {{ prev1.date | date: "%Y" }}
        {% else %}
          {{ prev1.date | date: "%B %-d, %Y" }}
        {% endif %}
        {% if prev1.tags %}&middot;
        {% for tag in prev1.tags %}<span class="tags">{{ tag }}</span>{% unless forloop.last %}, {% endunless %}{% endfor %}
        {% endif %}
      </span>
      <a class="post-list-title" href="{{ site.baseurl }}{{ prev1.url }}">{{ prev1.title }}</a>
      {% if prev1.description %}<span class="post-list-desc">{{ prev1.description }}</span>{% endif %}
    </li>

    {% assign prev2 = prev1.previous %}
    {% if prev2 %}
    <li class="post-list-item{% unless prev2.lang %} lang-my{% endunless %}">
      <span class="post-list-date">
        {% if prev2.lang == "de" %}
          {% assign de_month_key = prev2.date | date: "%m" %}
          {{ prev2.date | date: "%-d" }}. {{ site.data.de_months[de_month_key] }} {{ prev2.date | date: "%Y" }}
        {% else %}
          {{ prev2.date | date: "%B %-d, %Y" }}
        {% endif %}
        {% if prev2.tags %}&middot;
        {% for tag in prev2.tags %}<span class="tags">{{ tag }}</span>{% unless forloop.last %}, {% endunless %}{% endfor %}
        {% endif %}
      </span>
      <a class="post-list-title" href="{{ site.baseurl }}{{ prev2.url }}">{{ prev2.title }}</a>
      {% if prev2.description %}<span class="post-list-desc">{{ prev2.description }}</span>{% endif %}
    </li>
    {% endif %}
    {% endif %}
  </ul>
</section>
