---
layout: page
title: တစ်ရက်နည်းနည်းစီ တဖြေးဖြေး အတူတူလေ့လာကြစို့။ 
---
<style type="text/css">
.post-tag {
  font-family: 'century-burma', sans-serif;;
}
</style>
<div class="tags-expo">
  <div class="tags-expo-list">
    {% for tag in site.tags %}
    <a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a>
    {% endfor %}
  </div>
  <div class="tags-expo-section">
    {% for tag in site.tags %}
    <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
    <br/>
    <ul class="tags-expo-posts">
      {% for post in tag[1] %}
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
      <li>
        {{ post.title }}
      <small class="post-date">{{ post.date | date_to_string }}</small>
      </li>
      </a>
      <br />
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>
