---
layout: default
title: Categories
---

<div class="tufte-post">
  <header class="post-header">
    <a class="ornament" href="{{ site.baseurl }}/" aria-label="Home"></a>
    <h1>Categories</h1>
    <p class="subtitle">Browse posts by category</p>
  </header>

  <div class="post-body">
    <p class="post-links-list">
      {% for tag in site.categories %}<a href="#{{ tag[0] | slugify }}">{{ tag[0] }}</a>{% unless forloop.last %} &middot; {% endunless %}{% endfor %}
    </p>

    {% for tag in site.categories %}
    <div class="blog-year-block">
      <h2 class="blog-year-heading" id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
      <ul class="post-list post-links-list">
        {% assign cat_posts = tag[1] | sort: "date" | reverse %}
        {% for post in cat_posts %}
        <li class="post-list-item{% unless post.lang %} lang-my{% endunless %}">
          <a class="post-list-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          <span class="post-list-date">{{ post.date | date: "%B %-d, %Y" }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</div>
