---
layout: default
---

<article class="tufte-post{% unless page.lang %} lang-my{% endunless %}">
  <header class="post-header">
    <a class="ornament" href="{{ site.baseurl }}/" aria-label="Home"></a>
    <h1>{{ page.title }}</h1>
    <p class="byline side">
      <span class="date">
        {% if page.lang == "de" %}
          {% assign de_month_key = page.date | date: "%m" %}
          {{ page.date | date: "%-d" }}. {{ site.data.de_months[de_month_key] }} {{ page.date | date: "%Y" }}
        {% else %}
          {{ page.date | date: "%B %-d, %Y" }}
        {% endif %}
      </span>
      {% if page.tags.size > 0 %}
      <span class="tags">
        {% for tag in page.tags %}<a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
      </span>
      {% endif %}
      {% for tag in page.categories %}
      <span class="tags"><a href="{{ site.baseurl }}{{ site.category_page }}#{{ tag | slugify }}">{{ tag }}</a></span>
      {% endfor %}
    </p>
  </header>

  <div class="post-body dropcap">
    {{ content }}
  </div>

  <p class="post-footer-nav"><a href="{{ site.baseurl }}/blog/">&larr; All Posts</a></p>
</article>

{% include read-next.html %}
